
@{
    ViewBag.Title = "UnAuthorized";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div style="margin-left: 26%; margin-top: 32%; width: 50%;">
    <h2 style="font-size: 50px;">¡Acceso no autorizado!</h2>

    <div style="margin-left: 32%;">
        <input type="button" value="Regresar"  style="font-size: 25px;" class="btn btn-warning" onclick="goBack()" />
    </div>

</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>


