body {
    background-image: url(https://images2.alphacoders.com/646/646929.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 24px;
}

section {
    margin-left: 20%;
    background-color: rgba(70, 52, 0, 0.6);
    width: 60%;
}
h1{
    color: #fff;
}
label {
    color: #fff;
}
p {
    color: #fff;
}